<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- build:process -->
    <title><%= name %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="<%= viewport %>" />
    <!-- /build -->
    <!-- compile:style app -->
        <!-- build:style vendor --><!-- /build -->
        <!-- build:style app --><!-- /build -->
    <!-- /compile -->
    <!-- compile:script modernizr -->
        <!-- build:script modernizr --><!-- /build -->
    <!-- /compile -->
</head>
<body>
    <!-- build:section slides --><!-- /build -->
    
    <!-- compile:script app -->
    <!-- build:script vendor --><!-- /build -->
    <!-- build:script app --><!-- /build -->
    <!-- /compile -->
</body>
</html>
